body {
    margin: 0;
    background: black;
    cursor: crosshair;
  }
  canvas{display:block}
  h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 4px 4px;
  }
  